.idea
.vscode
.git
.env
.env.example
docker-compose.yml
/vendor
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
node_modules
*.log
*.tmp
dist
coverage
.cache

